@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #333; 

  background: linear-gradient(180deg, rgba(198,224,242,1) 0%, rgba(64,106,143,1) 43%, rgba(1,10,18,1) 100%);

  min-height: 100vh; /* Establece la altura mínima del body al 100% del viewport */
}

