@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #333;
  /* background: linear-gradient(to bottom, #87CEFA, #f3f3f4); */
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: url('img/mesh.png');
  background-size: cover;
  
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
  
}
